<div class="card" style="width: 18rem; float:left; clear: none; margin:40px;" >
              
    <a routerLink="/product-description"><img src={{product.image}} class="card-img-top img-height-card" alt={{product.imageAlt}}></a>
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description}}</p>
      <p class="card-text">${{product.price}}</p>
      <button class="btn btn-primary" [disabled]="!product.isAvailable">Add to Cart</button>
      </div>
    </div>